.container1 {
  width: 100%;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.btn1 {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 8px 12px;
  border: none;
  gap: 4px;
  cursor: pointer;
  border-radius: 15px;
}

button.delete {
  background-color: #e74c3c;
  color: #fff;
  margin-left: 5px;
}

button.update {
  background-color: #3498db;
  color: #fff;
}

button.delete:hover {
  background-color: #c0392b;
}

button.update:hover {
  background-color: #2980b9;
}

nav {
  background-color: #199d9d;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  
}

nav a {
  color: rgb(9, 9, 9);
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
  background-color: rgb(65, 156, 181);
  border-radius: 2px;
}

nav a:hover {
  text-decoration: none;
  background-color: #3498db;
  
}

nav a.active {
  font-weight: bold;
}
.btn3 {
  width:100px;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  font-size: 0.9em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn3:hover {
  background-color: #0056b3;
}